<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
</head>
<body>

<div class="container">
  <img src="/assets/images/im4.jpg" alt="Snow" style="width:100%;filter: blur(2px);">
	<div class="centered">
		<h1 style="font-size: 50px;font-family: 'Times New Roman', Times, serif;"><strong> About US</strong></h1>
			<p style="margin-top: 70px;font-size: 25px;text-align: justify;font-family: 'Times New Roman', Times, serif;">
				<strong>

					Hotelier is India’s leading online travel booking brand providing range of choice for hotels for travelers. 
					Our core value differentiator is the most trusted user experience, be it in terms of quickest search and booking, fastest payments, settlement or refund processes. Through GoStays, our customers enjoy standardised stay experience at certified hotel properties. With industry first virtual travel booking currency GoCash and travel social network, GoCash+ Rewards – Hotelier is the number one choice for new India on the move.
				</strong>
			</p>	
		</div>
				
	</div>  
	
<!-- </div> -->

</body>
</html> 
