<!-- <!DOCTYPE html>
<html>

<head>
	<title>About us Page</title>

	<link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity=
"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
		crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity=
"sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous">
	</script>
	
	<script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity=
"sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous">
	</script>
	
	<script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity=
"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous">
	</script>
</head>

<body>
	<section class="background firstsection">
		<div class="box-main">
			<div class="firstHalf">
				<p class="text-big">About US</p>
				
				<p class="text-small">
					Please feel free to read about us
				</p>
				
				<br>
				
				<p class="center"><a href="#Order"
					style="color:white;text-align: center;">
					About Hotelier.com:
                    <br>
					Hotelier is India’s leading online travel booking brand providing range of choice for hotels for travelers. 
Our core value differentiator is the most trusted user experience, be it in terms of quickest search and booking, fastest payments, settlement or refund processes. Through GoStays, our customers enjoy standardised stay experience at certified hotel properties. With industry first virtual travel booking currency GoCash and travel social network, GoCash+ Rewards – Hotelier is the number one choice for new India on the move.</a>
				</p>
				<img src="/assets/images/im4.jpg" alt="" >

			</div>
		</div>
	</section>

	
	
	
</body>

</html> -->
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
</head>
<body>



<div class="container">
  <img src="/assets/images/im4.jpg" alt="Snow" style="width:100%;filter: blur(2px);">
	<div class="centered">
		<h1 style="font-size: 50px;font-family: 'Times New Roman', Times, serif;"><strong> About US</strong></h1>
			<p style="margin-top: 70px;font-size: 25px;text-align: justify;font-family: 'Times New Roman', Times, serif;">
				<strong>

					Hotelier is India’s leading online travel booking brand providing range of choice for hotels for travelers. 
					Our core value differentiator is the most trusted user experience, be it in terms of quickest search and booking, fastest payments, settlement or refund processes. Through GoStays, our customers enjoy standardised stay experience at certified hotel properties. With industry first virtual travel booking currency GoCash and travel social network, GoCash+ Rewards – Hotelier is the number one choice for new India on the move.
				</strong>
			</p>	
		</div>
				
	</div>  
	
<!-- </div> -->

</body>
</html> 
