    <h1 style="text-align: center;font-weight: bold;font-family: 'Times New Roman', Times, serif;color: brown;">Customer Details</h1>
    <div class="row">
        <div class="card" style="width: 60%;margin:10px;"*ngFor="let cus of cust">
          
          <!-- <img class="card-img-top" src="/assets/images/kyc.png" alt="Card image cap"> -->
          <div class="card-body"  >
              <h5 class="card-title">Booking ID:{{cus['bill_id']}}</h5>
              <h5 class="card-title">Customer Name: {{cus['cust_name']}}</h5>
              <p class="card-text">Customer Phone: {{cus['cust_phone']}}</p>
              <p class="card-text">Customer Email: {{cus['cust_email']}}</p>
              <p class="card-text">Customer Address: {{cus['cust_add']}}</p>
              
              <p class="card-text">Room type: {{cus['room_descrip']}}</p>
              <p class="card-text">Hotel Name: {{cus['hotel_name']}}</p>
              <!-- <p class="card-text">No. of rooms: {{cus['No_of_rooms']}}</p> -->
              <p class="card-text">Customer Check IN: {{cus['cust_check_in']}}</p>
              <p class="card-text">Customer Check Out: {{cus['cust_check_out']}}</p>
              
              <p class="card-text">Payment Info: {{cus['payment_info']}}</p>
          </div>
      </div>
  </div> 