body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.card {
    margin-bottom: 20px;
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(70, 21, 21);
    background: linear-gradient(90deg, rgb(95, 18, 30) 0%, rgb(165, 29, 52) 100%);
}

.card label,
h1,
h6 {
    color: #fff;
}