<div class="row">
    <div class="col-sm-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">ADD New Customer</h5>
                <p class="card-text"></p>
                <a routerLink="/addcustomer" class="btn btn-danger">ADD Customer</a>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">ADD New Hotel</h5>
                <p class="card-text"></p>
                <a routerLink="/addhotel" class="btn btn-danger">ADD Hotel</a>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Add/Update Booking Details</h5>
                <p class="card-text"></p>
                <a routerLink="/addbooking" class="btn btn-danger">Book</a>
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Get Customer Details</h5>
                <p class="card-text"></p>
                <a routerLink="/customer-dashboard" class="btn btn-danger">Get Data</a>
            </div>
        </div>
    </div>
    <img src="/assets/images/kyc.png" alt=""  style="width:45%;margin-left: 160px;">
</div>