<div class="image_div">
<p style="padding: 50px;color: whitesmoke;font-family:'Times New Roman', Times, serif;font-size: 65px;text-align: left;">
    Welcome TO Hotelier.com
    
</p>
<p style="padding-left: 50px;color: whitesmoke;font-family:'Times New Roman', Times, serif;font-size: 45px;text-align: left;">
    "RANKED AMONG THE BEST HOTEL WEBSITE IN 2021"
</p>
    </div>
<div class="row" >
    <div class="col-md-6" style="color: rgb(151, 43, 43); font-size: 30px;margin-top: 160px;">
        Hotelier MEANS “PEACE”. WE ARE A PEACEFUL LUXURY RESORT THAT EXPLORES EACH ASPECT OF CALMNESS AND TRANQUILLITY :
    </div>
    <div class="col-md-6" style="color: rgb(151, 43, 43); text-align: justify; font-size: 18px;margin-top: 30px;">
        <p>
            As our tagline states “The Luxury of Peace“, Shaantam believes that peace is the ultimate luxury that every being is thriving for. Our best resort in Rishikesh are committed to providing our guests with an experience stay. It will bring mental, physical, emotional, and spiritual balance to their lives.
        </p>
        <p>
             At Shaantam resorts, we believe in nourishing and nurturing the true qualities of nature away from the hustle of city life. Situated in the lap of Lord Shiva (Neelkanth) near the town of Rishikesh and surrounded by the mighty green Himalayan ranges. This place offers you holistic wellness of mind and soul. Our aim is to offer pervasive calmness and the path of self-discovery and mindfulness.
        </p>
        <p>
            Away from the city life, Shaantam resorts is the best place to stay in Rishikesh and offers the kind of energy that would settle your mind. Take your worries away and help you recover from the negative effects of stressful lifestyles through a combination of nature, meditation, spa therapies, and nutritious meals. It will connect you and make you feel one with nature and regain your inner harmony. This is why we are widely acclaimed as one of the best 5 star resorts &  hotels in Rishikesh.
        </p>
    </div>
    </div>
    <!-- <div clas="button_div" style="background-color: dark brown;margin-top: 30px;"> -->
        <!-- carousel code starts -->
            
        <!-- carousel code ends -->
        <div class="card-body">
            Click Here to Book Your Stay =>
            <button class="btn btn-primary" routerLink="/booking" >
                BOOK YOUR STAY
            </button>
        </div>
    <!-- </div> -->
    <!-- <h1 style="color:white;text-align: center;">Welcome to JW Marriott Group Of Hotels</h1> -->
        <!-- <img src="https://images.unsplash.com/photo-1563911302283-d2bc129e7570?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80"
         alt="main_pic.jpg" width="900"> -->
